.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 150px;
}

.nav-item > ul {
  display: flex;
  list-style-type: none;
  font-size: 24px;
}

.nav-item > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-card {
  margin: 5px;;
  padding: 5px;
  width: 200px;
  height: 410px;
  /* border: 1px solid black; */
  
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.search {
  padding: 10px;
}

.meghna-img {
  width: 100%;
}
